<section class="c-hp-posts-section">
  <div class="container">
    <div class="row flex-wrap c-hp-posts-section__inner">
      <div class="col-12 col-sm-6 col-lg-4 pe-5 ps-5 c-hp-posts-section__col">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-12 col-sm-6 col-lg-4 pe-5 ps-5 c-hp-posts-section__col">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-12 col-sm-6 col-lg-4 pe-5 ps-5 c-hp-posts-section__col">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-12 col-sm-6 col-lg-4 pe-5 ps-5 c-hp-posts-section__col">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-12 col-sm-6 col-lg-4 pe-5 ps-5 c-hp-posts-section__col">
        {% include "@components/post/post.twig" %}
      </div>
      <div class="col-12 col-sm-6 col-lg-4 pe-5 ps-5 c-hp-posts-section__col">
        {% include "@components/post/post.twig" %}
      </div>
    </div>
    <a href="#" class="btn p-btn">Další články</a>
  </div>
</section>
