<section class="player-section">
   <div class="player">
      <div class="container">
         <div class="player__inner">
            <div class="player__wrapper">
               <div class="player__img">
                  <img src="images/content/player.png" alt="">
               </div>
               <div class="player__info">
                  <h1 class="h1 player__title">
                     <span>22</span>
                     Matěj Helešic
                     <div class="player__title-bg">Helešic</div>
                  </h1>
                  <div class="player__position">
                     <img src="images/ico/cz.svg" alt="">
                     záložník
                  </div>
                  <ul>
                     <li>
                        Datum narození:
                        <strong>17. 2. 1993 (29 let)</strong>
                     </li>
                      <li>
                        Výška:
                        <strong>173 cm</strong>
                     </li>
                      <li>
                        Váha:
                        <strong>69 kg</strong>
                     </li>
                  </ul>
                  <p class="p1">
                     Rumunský brankář, jenž hrál před příchodem do Sparty v klubech ze rodné země. Se Steauou Bukurešť vyhrál dvakrát mistrovský titul (2014 a 2015). V únoru 2018 podepsal na Letné smlouvu do roku 2021. V listopadu 2017 debutoval v rumunském národním týmu.
                  </p>
               </div>
            </div>
            <div class="player__col">
               <h2 class="h3">Aktuální sezona</h2>
               <div class="player__row">
                  <div class="player__col-item">
                     <img src="images/ico/football.svg" alt="">
                     <span>15</span>
                     ZÁPASů
                  </div>
                  <div class="player__col-item">
                     <img src="images/ico/clock.svg" alt="">
                     <span>1089</span>
                     minut
                  </div>
               </div>
               <div class="player__row">
                  <div class="player__col-item">
                     <img src="images/ico/ball.svg" alt="">
                     <span>6</span>
                     Gólů
                  </div>
                  <div class="player__col-item">
                     <img src="images/ico/asistence.svg" alt="">
                     <span>6</span>
                     Asistencí
                  </div>
               </div>
               <div class="player__row">
                  <div class="player__col-item">
                     <img src="images/ico/yellow.svg" alt="">
                     <span>3</span>
                     Žluté karty
                  </div>
                  <div class="player__col-item">
                     <img src="images/ico/red.svg" alt="">
                     <span>1</span>
                     Červená karta
                  </div>
               </div>
               
               <div class="player__table">
                  <h2 class="h3">Posledních 5 zápasů</h2>
                  <table>
                     <thead>
                        <tr>
                           <th>ZÁPAS</th>
                           <th></th>
                           <th><img src="images/ico/clock.svg" alt=""></th>
                           <th><img src="images/ico/ball.svg" alt=""></th>
                           <th><img src="images/ico/yellow.svg" alt=""></th>
                           <th><img src="images/ico/red.svg" alt=""></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>4. 12. 2021</td>
                           <td>
                              <strong>OPA – BRN 0:2</strong>
                           </td>
                           <td>90’</td>
                           <td>1</td>
                           <td>0</td>
                           <td>0</td>
                        </tr>
                         <tr>
                           <td>4. 12. 2021</td>
                           <td>
                              <strong>OPA – BRN 0:2</strong>
                           </td>
                           <td>90’</td>
                           <td>1</td>
                           <td>0</td>
                           <td>0</td>
                        </tr>
                         <tr>
                           <td>4. 12. 2021</td>
                           <td>
                              <strong>OPA – BRN 0:2</strong>
                           </td>
                           <td>90’</td>
                           <td>1</td>
                           <td>0</td>
                           <td>0</td>
                        </tr>
                         <tr>
                           <td>4. 12. 2021</td>
                           <td>
                              <strong>OPA – BRN 0:2</strong>
                           </td>
                           <td>90’</td>
                           <td>1</td>
                           <td>0</td>
                           <td>0</td>
                        </tr>
                         <tr>
                           <td>4. 12. 2021</td>
                           <td>
                              <strong>OPA – BRN 0:2</strong>
                           </td>
                           <td>90’</td>
                           <td>1</td>
                           <td>0</td>
                           <td>0</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   
   <div class="container">
      <div class="o-content">
         <h2 class="h2">Související články s hráčem</h2>
       </div>
      <div class="row flex-wrap  hp-posts__inner">
         <div class="col-12 col-sm-6 col-lg-4 pe-5 ps-5 hp-posts__col">
             {% include "@components/post/post.twig" %}
         </div>
          <div class="col-12 col-sm-6 col-lg-4 pe-5 ps-5 hp-posts__col">
             {% include "@components/post/post.twig" %}
         </div>
          <div class="col-12 col-sm-6 col-lg-4 pe-5 ps-5 hp-posts__col">
             {% include "@components/post/post.twig" %}
         </div>
      </div>
   </div>
</section>