<section class="c-articles-player-section">
   <div class="container">
   <h3 class="h2 mb-4">Související články s hráčem</h3>
      <div class="row flex-wrap  hp-posts__inner">
         <div class="col-12 col-sm-6 col-lg-4 pe-5 ps-5 hp-posts__col">
             {% include "@components/post/post.twig" %}
         </div>
          <div class="col-12 col-sm-6 col-lg-4 pe-5 ps-5 hp-posts__col">
             {% include "@components/post/post.twig" %}
         </div>
          <div class="col-12 col-sm-6 col-lg-4 pe-5 ps-5 hp-posts__col">
             {% include "@components/post/post.twig" %}
         </div>
      </div>
   </div>
</section>