<article class="c-post-matches-section col-xl-8">
  <div class="c-article-section__top">
    <figure class="c-article-section__img">
      <img src="images/content/2.jpg" loading="lazy" alt="" />
    </figure>
    <div class="c-article-section__top-info">
      <h1 class="h1 mb-6">
        West po porážce s Brnem: Měli jsme rozhodnout v první půli
      </h1>
      <div class="align-items-center d-flex justify-content-center">
        <div class="px-4">
          <div class="date date--blue">16. 12. 2021</div>
        </div>
        <div class="px-4">
          <div class="h6">Redakce</div>
        </div>
      </div>
    </div>
  </div>
  <div class="o-wrapper">
    <div class="game-report">
      <div class="game-scorebox">
        <div class="team team-left">
          <div class="team__name">Slezský FC Opava</div>
          <img src="images/ico/logo.svg" loading="lazy" alt="" />
        </div>
        <div class="score">
          3:3
          <span>(1:2)</span>
        </div>
        <div class="team team-right">
          <img src="images/content/team-2.png" loading="lazy" alt="" />
          <div class="team__name">FC Sellier&Bellot Vlašim</div>
        </div>
      </div>
      <div class="o-content p-6 bg-white pb-0">
        <h4 class="h4">Statistiky</h4>
        <p class="p1">
          <strong>Branky:</strong> 11. Helešic, 54. Rychlý, 78. Darmovzal – 30.
          Blecha, 41. Křišťan, 90+4. Alijagič.
          <strong>Rozhodčí:</strong> Hanousek – Mikeska, Bureš.
          <strong>ŽK:</strong> Celba, Digaňa – Svoboda, Hošek, Alijagič.
          <strong>ČK:</strong> 29. Celba. <strong>Diváci:</strong> 1 233.
        </p>
        <div class="row game-report__teams mt-6">
          <div class="col-12 col-sm-6 p-6 game-report__team">
            <div class="d-flex align-items-center mb-n4">
              <div class="game-report__team-logo">
                <img src="images/ico/logo.svg" loading="lazy" alt="" />
              </div>
              <h4 class="h4">Slezský FC Opava</h4>
            </div>
            <p class="p1">
              Digaňa – Celba, Helebrand (77. Večerka), Hnaníček, Janoščín –
              Didiba, Tiéhi – Šigut (70. Pikul), Holík (46. Rychlý), Helešic
              (77. Kadlec) – Kramář (64. Darmovzal).
            </p>
            <p class="p1"><strong>Trenér: </strong>Roman West.</p>
          </div>
          <div class="col-12 col-sm-6 p-6 game-report__team">
            <div class="d-flex align-items-center mb-n4">
              <div class="game-report__team-logo">
                <img src="images/content/team-2.png" loading="lazy" alt="" />
              </div>
              <h4 class="h4">FC Sellier&Bellot Vlašim</h4>
            </div>
            <p class="p1">
              Vágner – Hošek (84. Janda), Broukal, Breda, Svoboda – Blecha, Rigo
              (64. Alijagič) – Višinský, Křišťan, Zinhasovič (84. Kozel) –
              Zlatohlávek (77. Červenka).
            </p>
            <p class="p1"><strong>Trenér: </strong>Martin Hyský.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="o-content mt-n5">
      <div class="row js-gallery gx-2 c-article-section__fotogalerie mb-5">
        <div class="col-md-3 col-6">
          <figure>
            <a
              class="c-article-section__fotogalerie-foto"
              href="https://via.placeholder.com/1024x1024"
              data-size="1024x1024"
            >
              <img src="images/content/2.jpg" loading="lazy" alt="" />
            </a>
          </figure>
        </div>
        <div class="col-md-3 col-6">
          <figure>
            <a
              class="c-article-section__fotogalerie-foto"
              href="https://via.placeholder.com/1024x1024"
              data-size="1024x1024"
            >
              <img src="images/content/2.jpg" loading="lazy" alt="" />
            </a>
          </figure>
        </div>
        <div class="col-md-3 col-6">
          <figure>
            <a
              class="c-article-section__fotogalerie-foto"
              href="https://via.placeholder.com/1024x1024"
              data-size="1024x1024"
            >
              <img src="images/content/2.jpg" loading="lazy" alt="" />
            </a>
          </figure>
        </div>
        <div class="col-md-3 col-6">
          <figure>
            <a
              class="c-article-section__fotogalerie-foto c-article-section__fotogalerie-link"
              href="https://via.placeholder.com/1024x1024"
              data-size="1024x1024"
            >
              <img src="images/content/2.jpg" loading="lazy" alt="" />
              <span class="c-article-section__fotogalerie-hover">+21</span>
            </a>
          </figure>
        </div>
      </div>
      <p class="perex">
        <strong>
          Opava – Úvodní zápas nového soutěžního ročníku s Vlašimí byl pořádně
          hektický. Slezský FC vedl po trefě Matěje Helešice, Středočeši ovšem
          skóre ještě do první půle otočili. Opavští, kteří hráli přes hodinu v
          deseti, získali náskok zpět, jenže výběr kouče Hyského v nastavení
          srovnal na konečných 3:3.
        </strong>
      </p>
      <p>
        Slezané, kteří do utkání nastoupili v totožné sestavě jako v generálce s
        polským GKS Tychy, začali skvěle. Hned v úvodu mohli jít do vedení po
        nádherné akci, kdy Šigut zpětnou přihrávkou poslal míč do vápna, Holík
        ho pustil na Helešice, jehož ránu zastavilo břevno.
      </p>
      <p>
        Opavské křídlo si náladu zlepšilo o chvilku později. Holík byl faulován
        v šestnáctce a nařízenou penaltu bezpečně proměnil. Krátce nato mohl
        přidat druhý zásah Tiéhi, ale z dobré pozice napálil balon těsně vedle
        pravého horního rohu brány.
      </p>
      <p>
        Pak přišla pro domácí studená sprcha. Celba ve vápně fauloval, a protože
        už jednu žlutou kartu měl, ve 29. minutě byl vyloučen. Blecha pokutový
        proměnil a bylo srovnáno, to ale nebylo vše. V závěru první půle se do
        skákavého míče opřel Křišťan a ranou zpoza šestnáctky otočil skóre –
        1:2.
      </p>
      <p>
        Opavští se ocitli ve složité situaci, ale i přes početní nevýhodu byli
        aktivní směrem dopředu. V 54. minutě byli za svou snahu odměněni
        vyrovnávací brankou, když Helešicovu ránu vyrazil Vágner přímo do míst,
        kde číhal Rychlý, jenž propasíroval míč do sítě – 2:2.
      </p>
      <p>
        Městské sady byly na nohou, a pak to přišlo. Střídající Darmovzal nebyl
        na hřišti ještě ani čtvrthodinku, pak si navedl míč na osu hřiště a
        povedenou střelou strhl vedení zpátky na stranu Opavy.
      </p>
      <p>
        Pojistku mohl přidat Kadlec, ale přečíslení nevyřešil dobře a nepřesnou
        střelou minul vlašimskou bránu. Když už se zdálo, že Slezané těsný
        náskok uhájí, udeřil tým zpod Blaníku. Po nedůrazu ve vápně se míč
        dostal Alijagičovi, jenž brankou na 3:3 rozhodl o dělbě bodů.
      </p>
      <q>
        <div class="comment">
          <div class="comment__header">
            <div class="comment__img">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <h4 class="h4">
              Roman West
              <span> trenér Slezského FC </span>
            </h4>
          </div>
          <p>
            „Utkání jsme začali fantasticky. Do patnácté minuty jsme měli tři,
            čtyři brankové šance, dali jsme břevno, ale pak jsme se dostali do
            vedení. Celý úvod zápasu byl dobrý, zhruba do třicáté minuty jsme
            soupeře de facto do ničeho nepustili. Pak zničehonic přišla penalta,
            ještě k tomu červená karta a vyrovnání na 1:1. Přišel útlum, soupeř
            skóre otočil a vedl. Bylo to pro nás těžké, ale nakonec jsme
            heroickým výkonem o deseti proti silnému a velmi dobře kombinačně
            hrajícímu soupeři podařilo otočit výsledek na 3:2. Zápas se zlomil
            dvěma šancemi Kadlece, kdy jsme měli dát gól na 4:2 a byla by to
            úplná pohádka. Bohužel jsme je neproměnili. Dostat po takovém výkonu
            doma gól v 90+4. minutě je velmi smutné. Pro lidi to snad byl dobrý
            úvodní zápas. Viděli šest branek, obraty, plno šancí, zkrátka
            zajímavé utkání. Remízu beru sportovně, protože v poločase, kdy to
            bylo 1:2 a hráli jsme o deseti, bychom bod určitě brali. Jsem rád,
            že to kluci ve druhé půli nevzdali a chtěli se zápasem něco udělat.
            Nakonec to byl pěkný zápas, ale když jste po takovém výkonu pět
            vteřin od vítězství, je to škoda a mrzí to.“
          </p>
        </div>
        <div class="comment">
          <div class="comment__header">
            <div class="comment__img">
              <img src="images/content/team-2.png" alt="" />
            </div>
            <h4 class="h4">
              Martin Hyský
              <span> trenér FC Sellier&Bellot Vlašim </span>
            </h4>
          </div>
          <p>
            „Na úvodní kolo mělo utkání velmi dobré parametry. Hrálo se ve
            vysoké intenzitě. Do zápasu jsme nevstoupili moc dobře, Opava nás
            zatlačila, měla tam břevno. Pak penaltu, po které šla do vedení.
            Následně jsme se dostali do hry, začali jsme kombinovat. Dali jsme
            vyrovnávací gól, navíc z toho byla červená pro domácí. Do konce
            poločasu jsme to dohráli dobře. Zápas jsme měli ve svých rukách, ale
            druhá půle šla bohužel jiným směrem, než jsme si představovali.
            Nedokázali jsme pořádně udržet balon. Opava to zjednodušila a byla
            velmi dobře soubojově připravená. Dostali jsme dva zbytečné góly,
            takže se to otočilo všechno proti nám. Pomohla nám střídání a věřil
            jsem do poslední vteřiny, ale že to padne v nastavení po takhle
            krásné akci, jsem nečekal. Kluky musím pochválit za trpělivost.“
          </p>
        </div>
      </q>
    </div>
    <div class="c-article-section__bottom mt-4">
      <span>sdílet</span>
      <ul class="share-menu">
        <li>
          <a
            href="https://www.facebook.com/sharer.php?http://localhost:3000/05.0_clanek.html"
            class="customer share"
          >
            {% include "@images/facebook.svg" %}
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/share?http://localhost:3000/05.0_clanek.html"
            class="customer share"
          >
            {% include "@images/twitter.svg" %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</article>
