<section class="c-team-section team">
   <div class="menu-section">
      <div class="container">
         <div class="menu-section__inner">
            <h1 class="h1">
               Realizační tým
            </h1>
            <div class="menu-section__btn f-btn btn">
               Hráči
            </div>
            <form action="" class="ms-auto w-auto menu-section__form">
               <label class="o-select menu-section__label">
                  <select class="js-select">
                     <option>2021/22</option>
                     <option value="tipsport">2020/21</option>
                     <option value="tipsport">2019/20</option>
                     <option value="tipsport">2018/19</option>
                     <option value="tipsport">2017/18</option>
                  </select>
               </label>
            </form>
         </div>
      </div>   
   </div>
   <div class="c-team-section__items">
        <div class="container">
         <ul class="row">
            <li class=" col-lg-4 col-xxl-3 col-sm-6  pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/david_mikula.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                     <p class="p4">trenér</p>
                  </div>
                  <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/david_mikula.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                     <p class="p4">asistent trenéra</p>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/david_mikula.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                     <p class="p4">trenér</p>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/david_mikula.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                     <p class="p4">kondiční trenér</p>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/david_mikula.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                     <p class="p4">kondiční trenér</p>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/david_mikula.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                     <p class="p4">trenér</p>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/david_mikula.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                     <p class="p4">trenér</p>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
         </ul>
      </div>
   </div>
</section>