.aside {
  &__menu {
    background-color: var(--color-blue);
    padding: 16px 0;
    li {
      padding: 8px 32px;
      border-bottom: 1px solid rgba(#000, 0.3);
      &:last-child {
        border-bottom: none;
      }
    }
    a {
      text-decoration-color: transparent;
      color: var(--color-light);
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      &:hover {
        text-decoration-color: var(--color-light);
      }
    }
  }
  &__ban {
    margin: 24px 0;
    a {
      aspect-ratio: 408/200;
      display: block;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
