<aside class="aside col-xl-4 gy-10">
    <div class="mb-4">
      {% include "@components/post/post.twig" %}
    </div>
   <div class="mb-4">
      {% include "@components/post/post.twig" %}
   </div>
   <div class="mb-4">
      {% include "@components/post/post.twig" %}
   </div>
   <div class="mb-4">
      {% include "@components/post/post.twig" %}
   </div>
   <div class="aside__ban">
      <figure>
         <a target="_blank" href="#" class=" d-block w-100 mb-4">
            <img class="w-100" src="https://via.placeholder.com/408x200" loading="lazy" alt="" />
         </a>
      </figure>
   </div>
</aside>