<aside class="aside col-xl-4 gy-10">
   <ul class="aside__menu">
      <li>
         <a href="#">Základní informace</a>
      </li>
      <li>
         <a href="#">Historie klubu</a>
      </li>
      <li>
         <a href="#">Vedení</a>
      </li>
      <li>
         <a href="#">Kontakty</a>
      </li>
   </ul>
  
   <div class="aside__ban">
      <figure>
         <a target="_blank" href="#" class=" d-block w-100 mb-4">
            <img class="w-100" src="https://via.placeholder.com/408x200" loading="lazy" alt="" />
         </a>
      </figure>
   </div>
   <div class="mb-4">
      {% include "@components/post/post.twig" %}
   </div>
</aside>