.player {
  margin-bottom: 40px;
  background-image: url("../images/content/player-bg.png");
  background-repeat: no-repeat;
  background-position: 0px -2px;
  @include media-breakpoint-down(xxl) {
    background-size: cover;
    padding-bottom: 32px;
    background-position: 0px -16px;
  }
  @include media-breakpoint-down(lg) {
  }
  th:first-child {
    text-align: left;
    padding-left: 32px;
  }
  td:first-child {
    padding-left: 32px;
  }
  td:nth-of-type(2),
  td:first-child {
    text-align: left;
  }
  th:last-child,
  td:last-child {
    padding-right: 22px;
  }
  th {
    font-size: 12px;
    line-height: 14px;
    border-bottom: 1px solid rgba(#000, 0.3);
    padding-bottom: 8px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    img {
      width: 16px;
      height: 16px;
      margin: 0 auto;
    }
  }
  td {
    font-size: 14px;
    line-height: 16px;
    padding-top: 8px;
    padding-bottom: 5px;
    text-align: center;
  }
  table {
    @include media-breakpoint-down(sm) {
      width: 600px;
    }
  }
  &__table {
    margin-top: 22px;
    overflow-x: auto;

    .h3 {
      margin-bottom: 16px;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    color: var(--color-light);
    flex-wrap: wrap;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(#000, 0.3);
    padding-left: 20px;
  }
  &__col {
    background: rgba(#000, 0.4);
    padding: 40px 0;
    max-width: 408px;
    width: 100%;
    @include media-breakpoint-down(xxl) {
      max-width: 900px;
      margin: 0 auto;
    }
    .h3 {
      padding-left: 32px;
    }
    &-item {
      display: flex;
      align-items: flex-end;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      width: 165px;
      padding: 12px 12px 20px;
      span {
        margin-left: 8px;
        margin-right: 4px;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        display: block;
        position: relative;
        top: 4px;
      }
      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
    }
  }
  &__wrapper {
    padding-top: 40px;
    display: flex;
    @include media-breakpoint-down(xxl) {
      margin: 0 auto;
    }
    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
    }
  }
  &__position {
    margin-bottom: 42px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    img {
      width: 16px;
      height: 16px;
      margin-right: 16px;
    }
  }
  &__info {
    padding: 0 16px;
    max-width: 440px;
    padding-top: 40px;
    @include media-breakpoint-down(lg) {
      max-width: 100%;
      border-top: 1px solid rgba(#000, 0.3);
      margin-bottom: 24px;
    }
    ul {
      margin-bottom: 28px;
    }
    li {
      margin-bottom: 8px;
      strong {
        margin-left: 6px;
      }
    }
  }
  &__title {
    color: var(--color-light);
    position: relative;
    margin-bottom: 4px;
    span {
      display: block;
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 8px;
    }
    &-bg {
      position: absolute;
      top: 28px;
      font-weight: 700;
      font-size: 80px;
      line-height: 70px;
      opacity: 0.07;
      text-transform: uppercase;
    }
  }
  &__img {
    height: 100%;
    max-width: 408px;
    padding: 0 38px;
    width: 100%;
    @include media-breakpoint-down(lg) {
      height: auto;
      margin: 0 auto;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
