.o-content {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    + * {
      margin-top: 0 !important;
    }
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  h2,
  h3 {
    margin-bottom: 16px !important;
    color: var(--color-blue);
  }

  p {
    font-size: 16px;
    line-height: 23px;
    margin: 24px 0;
    @include media-breakpoint-down(md) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.h1,
.o-content h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: var(--color-blue);
  @include media-breakpoint-down(md) {
    font-size: 24px;
    line-height: 30px;
  }
}
.h2,
.o-content h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  @include media-breakpoint-down(md) {
    font-size: 22px;
    line-height: 28px;
  }
}
.h3,
.o-content h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  @include media-breakpoint-down(md) {
    font-size: 18px;
    line-height: 24px;
  }
}
.h4,
.o-content h4 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: var(--color-blue);
  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 20px;
  }
}
.h5,
.o-content h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  @include media-breakpoint-down(md) {
    font-size: 14px;
    line-height: 16px;
  }
}
.h6,
.o-content h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.p1 {
  font-size: 16px;
  line-height: 22px;
  @include media-breakpoint-down(md) {
    font-size: 14px;
    line-height: 20px;
  }
}
.p2 {
  font-size: 14px;
  line-height: 17px;
  @include media-breakpoint-down(md) {
    font-size: 12px;
    line-height: 15px;
  }
}
.p3 {
  font-size: 14px;
  line-height: 20px;
  @include media-breakpoint-down(md) {
    font-size: 12px;
    line-height: 16px;
  }
}
.p4 {
  font-size: 16px;
  line-height: 17px;
  @include media-breakpoint-down(md) {
    font-size: 12px;
    line-height: 13px;
  }
}

a {
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  transition: text-decoration-color 0.3s;
  &:hover {
    text-decoration-color: transparent;
  }
}
