.menu-section {
  padding-top: 40px;
  padding-bottom: 1.6rem;
  margin-bottom: 40px;
  box-shadow: -1px 0px 34px -1px rgba(0, 0, 0, 0.11);
  background-color: var(--color-light);
  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
    padding-bottom: 0.5rem;
  }
  &__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    form {
      flex-wrap: wrap;
    }
    @include media-breakpoint-down(xxl) {
      flex-wrap: wrap;
      .btn {
        margin-right: 16px;
        margin-bottom: 16px;
        &:first-child {
          padding-left: 16px;
          margin-left: -16px;
        }
      }
      .btn + .btn {
        margin-left: 0;
      }
      form {
        width: 100%;
        margin-left: 0;
      }
    }
    @include media-breakpoint-down(sm) {
      align-items: flex-start;
      form {
        max-width: 100%;
        width: 100%;
      }
    }
  }
  .h2 {
    color: var(--color-blue);
    margin-right: 80px;
    @include media-breakpoint-down(xxl) {
      margin-bottom: 16px;
      width: 100%;
    }
  }
}
