 <ul class="social">
   <li class="social__item">
      <a target="_blank"  class="social__link " href="#">
         {% include "@images/facebook.svg" %}
      </a>
   </li>
   <li class="social__item">
      <a target="_blank"  class="social__link " href="#">
         {% include "@images/twitter.svg" %}
      </a>
   </li>
   <li class="social__item">
      <a target="_blank"  class="social__link " href="#">
         {% include "@images/instagram.svg" %}
      </a>
   </li>
   <li class="social__item">
      <a target="_blank"  class="social__link " href="#">
      {% include "@images/youtube.svg" %}
      </a>
   </li>
</ul>