<section class="c-partners-section text-center py-2 mt-5">
  <div class="container">
    <ul class="row justify-content-center">
      <li class="col-auto ps-5 pe-5">
        <a target="_blank" href="#">
            <img src="images/content/1.png" loading="lazy" alt="" />
        </a>
      </li>
      <li class="col-auto ps-5 pe-5">
        <a target="_blank" href="#">
            <img src="images/content/2.png" loading="lazy" alt="" />
        </a>
      </li>
      <li class="col-auto ps-5 pe-5">
        <a target="_blank" href="#">
            <img src="images/content/3.png" loading="lazy" alt="" />
        </a>
      </li>
    </ul>
  </div>
</section>