<section class="c-table-section">
   <div class="menu-section">
      <div class="container">
         <div class="menu-section__inner">
            <h1 class="h1">
               Tabulka
            </h1>
            <form action="" class="ms-auto w-auto menu-section__form">
               <label class="o-select menu-section__label">
                  <select class="js-select">
                     <option>2021/22</option>
                     <option value="tipsport">2020/21</option>
                     <option value="tipsport">2019/20</option>
                     <option value="tipsport">2018/19</option>
                     <option value="tipsport">2017/18</option>
                  </select>
               </label>
            </form>
         </div>
      </div>   
   </div>
   <div class="container">
     <div class="o-content">
         <table>
            <thead>
               <tr>
                  <th><a href="#">P.</a></th>
                  <th><a href="#">Tým</a></th>
                  <th><a href="#">Z</a></th>
                  <th><a href="#">V</a></th>
                  <th><a href="#">R</a></th>
                  <th><a href="#">P</a></th>
                  <th><a href="#">B</a></th>
                  <th><a href="#">Skóre</a></th>
                  <th><a href="#">RG</a></th>
                  <th><a href="#">+/-</a></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
               </tr>
               <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
               </tr>
               <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
               </tr>
               <tr class="opava">
                  <td>2.</td>
                  <td>SFC Opava</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
               </tr>
               <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
               </tr>
               <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
               </tr>
               <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
               </tr>
               <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
               </tr>
               <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
               </tr>
               <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
               </tr>
               <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
               </tr>
               <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
               </tr>
               <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
               </tr>
               <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
               </tr>
               <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
               </tr>
               <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
               </tr>
            </tbody>
         </table>
     </div>
   </div>
</section>