<div class="team-section">
   <div class="menu-section">
      <div class="container">
         <div class="menu-section__inner">
            <h2 class="h2">
             FORTUNA:NÁRODNÍ LIGA
            </h2>
            <a href="#" class=" btn">
               Doma
            </a>
             <a href="#" class=" btn">
               Venku
            </a>
             <a href="#" class=" btn">
               Budoucí
            </a>
             <a href="#" class=" btn">
              Odehrané
            </a>
            <form action="" class="ms-auto w-auto d-flex">
              <label class="o-select">
                  <select class="js-select">
                     <option>Vybrat měsíc</option>
                     <option value="tipsport">2020/21</option>
                     <option value="tipsport">Leden</option>
                     <option value="tipsport">Únor</option>
                     <option value="tipsport">Květen</option>
                  </select>
               </label>
               <label class="o-select">
                  <select class="js-select">
                     <option>2021/22</option>
                     <option value="tipsport">2020/21</option>
                     <option value="tipsport">2019/20</option>
                     <option value="tipsport">2018/19</option>
                     <option value="tipsport">2017/18</option>
                  </select>
               </label>
            </form>
         </div>
      </div>   
   </div>
   <div class="container">
      <div class="matches-section__inner">
         <div class="o-content">
            <h3>Únor 2022</h3>
         </div>
         <div class="col-12 d-flex">
            <div class="col-lg-6 col-xl-12 match match--d d-flex align-items-center">
               <div class="match__type">
                  <h4 class="h4">d</h4>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h3 class="h3">
                     FC Sellier&Bellot Vlašim
                  </h3>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result">
                     3:3
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-lg-6 col-xl-12 match match--v d-flex align-items-center">
               <div class="match__type">
                  <h4 class="h4">V</h4>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h3 class="h3">
                     FC Sellier&Bellot Vlašim
                  </h3>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result win">
                     3:1
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-lg-6 col-xl-12 match match--o d-flex align-items-center">
               <div class="match__type">
                  <h4 class="h4">O</h4>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h3 class="h3">
                     FC Sellier&Bellot Vlašim
                  </h3>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result lose">
                     2:4
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-lg-6 col-xl-12 match match--b d-flex align-items-center">
               <div class="match__type">
                  <h4 class="h4">b</h4>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h3 class="h3">
                     FC Sellier&Bellot Vlašim
                  </h3>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result">
                     3:3
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
         </div>
          <div class="o-content">
            <h3>Únor 2022</h3>
         </div>
         <div class="col-12 d-flex">
            <div class="col-lg-6 col-xl-12 match match--d d-flex align-items-center">
               <div class="match__type">
                  <h4 class="h4">d</h4>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h3 class="h3">
                     FC Sellier&Bellot Vlašim
                  </h3>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result">
                     3:3
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-lg-6 col-xl-12 match match--v d-flex align-items-center">
               <div class="match__type">
                  <h4 class="h4">V</h4>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h3 class="h3">
                     FC Sellier&Bellot Vlašim
                  </h3>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result win">
                     3:1
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-lg-6 col-xl-12 match match--o d-flex align-items-center">
               <div class="match__type">
                  <h4 class="h4">O</h4>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h3 class="h3">
                     FC Sellier&Bellot Vlašim
                  </h3>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result lose">
                     2:4
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-lg-6 col-xl-12 match match--b d-flex align-items-center">
               <div class="match__type">
                  <h4 class="h4">b</h4>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h3 class="h3">
                     FC Sellier&Bellot Vlašim
                  </h3>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result">
                     3:3
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
         </div>
          <div class="o-content">
            <h3>Únor 2022</h3>
         </div>
         <div class="col-12 d-flex">
            <div class="col-lg-6 col-xl-12 match match--d d-flex align-items-center">
               <div class="match__type">
                  <h4 class="h4">d</h4>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h3 class="h3">
                     FC Sellier&Bellot Vlašim
                  </h3>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result">
                     3:3
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-lg-6 col-xl-12 match match--v d-flex align-items-center">
               <div class="match__type">
                  <h4 class="h4">V</h4>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h3 class="h3">
                     FC Sellier&Bellot Vlašim
                  </h3>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result win">
                     3:1
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-lg-6 col-xl-12 match match--o d-flex align-items-center">
               <div class="match__type">
                  <h4 class="h4">O</h4>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h3 class="h3">
                     FC Sellier&Bellot Vlašim
                  </h3>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                 
                  <div class="match__links">
                   
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-lg-6 col-xl-12 match match--b d-flex align-items-center">
               <div class="match__type">
                  <h4 class="h4">b</h4>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h3 class="h3">
                     FC Sellier&Bellot Vlašim
                  </h3>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result">
                     3:3
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn f-btn">
                        Vstupenky
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
         </div>
      </div>   
   </div>
   
</div>