<section class="matches-section">
   <div class="menu-section">
      <div class="container">
         <div class="menu-section__inner">
            <h1 class="h1">
             FORTUNA:NÁRODNÍ LIGA
            </h1>
            <ul class="menu-section__links d-flex">
               <li>
                  <a href="#" class=" btn">
                     Doma
                  </a>
               </li>
               <li>
                  <a href="#" class=" btn">
                     Venku
                  </a>
               </li>
               <li>
                   <a href="#" class=" btn">
                     Budoucí
                  </a>
               </li>
               <li>
                  <a href="#" class=" btn">
                     Odehrané
                  </a>
               </li>
            </ul>
            
            
            
            
            <form action="" class="ms-auto w-auto d-flex menu-section__form">
              <label class="o-select ">
                  <select class="js-select menu-section__label">
                     <option>Vybrat měsíc</option>
                     <option value="tipsport">2020/21</option>
                     <option value="tipsport">Leden</option>
                     <option value="tipsport">Únor</option>
                     <option value="tipsport">Květen</option>
                  </select>
               </label>
               <label class="o-select menu-section__label">
                  <select class="js-select">
                     <option>2021/22</option>
                     <option value="tipsport">2020/21</option>
                     <option value="tipsport">2019/20</option>
                     <option value="tipsport">2018/19</option>
                     <option value="tipsport">2017/18</option>
                  </select>
               </label>
            </form>
         </div>
      </div>   
   </div>
   <div class="container">
      <div class="matches-section__inner">
         <div class="o-content">
            <h2 class="h2">Únor 2022</h2>
         </div>
         <div class="matches-section__box col-12 d-flex">
            <div class="col-lg-6 col-xl-12 match match--d d-flex align-items-center">
               <div class="match__type">
                  <h3 class="h3">d</h3>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h2 class="h2">
                     FC Sellier&Bellot Vlašim
                  </h2>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result">
                     3:3
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-lg-6 col-xl-12 match match--d d-flex align-items-center">
               <div class="match__type">
                  <h3 class="h3">D</h3>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h2 class="h2">
                     FC Sellier&Bellot Vlašim
                  </h2>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result win">
                     3:1
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-lg-6 col-xl-12 match match--v d-flex align-items-center">
               <div class="match__type">
                  <h3 class="h3">v</h3>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h2 class="h2">
                     FC Sellier&Bellot Vlašim
                  </h2>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result lose">
                     2:4
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-lg-6 col-xl-12 match match--v d-flex align-items-center">
               <div class="match__type">
                  <h3 class="h3">v</h3>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h2 class="h2">
                     FC Sellier&Bellot Vlašim
                  </h2>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result">
                     3:3
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
         </div>
          <div class="o-content">
            <h2>Únor 2022</h2>
         </div>
         <div class="matches-section__box col-12 d-flex">
            <div class="col-lg-6 col-xl-12 match match--d d-flex align-items-center">
               <div class="match__type">
                  <h3 class="h3">d</h3>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h2 class="h2">
                     FC Sellier&Bellot Vlašim
                  </h2>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result">
                     3:3
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-lg-6 col-xl-12 match match--v d-flex align-items-center">
               <div class="match__type">
                  <h3 class="h3">V</h3>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h2 class="h2">
                     FC Sellier&Bellot Vlašim
                  </h2>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result win">
                     3:1
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-lg-6 col-xl-12 match match--d d-flex align-items-center">
               <div class="match__type">
                  <h3 class="h3">d</h3>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h2 class="h2">
                     FC Sellier&Bellot Vlašim
                  </h2>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result lose">
                     2:4
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-lg-6 col-xl-12 match match--v d-flex align-items-center">
               <div class="match__type">
                  <h3 class="h3">v</h3>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h2 class="h2">
                     FC Sellier&Bellot Vlašim
                  </h2>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result">
                     3:3
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
         </div>
          <div class="o-content">
            <h2>Únor 2022</h2>
         </div>
         <div class="matches-section__box col-12 d-flex">
            <div class="col-lg-6 col-xl-12 match match--d d-flex align-items-center">
               <div class="match__type">
                  <h3 class="h3">d</h3>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h2 class="h2">
                     FC Sellier&Bellot Vlašim
                  </h2>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result">
                     3:3
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-lg-6 col-xl-12 match match--v d-flex align-items-center">
               <div class="match__type">
                  <h3 class="h3">V</h3>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h2 class="h2">
                     FC Sellier&Bellot Vlašim
                  </h2>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result win">
                     3:1
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
           <div class="col-lg-6 col-xl-12 match match--d d-flex align-items-center">
               <div class="match__type">
                  <h3 class="h3">d</h3>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h2 class="h2">
                     FC Sellier&Bellot Vlašim
                  </h2>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                  <div class="match__result lose">
                     2:4
                  </div>
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn p-btn">
                        Reportáž
                     </a>
                     <a href="#" target="_blank" class="btn p-btn">
                        On-line
                     </a>
                  </div>
               </div>

            </div>
            <div class="col-lg-6 col-xl-12 match match--v d-flex align-items-center">
               <div class="match__type">
                  <h3 class="h3">v</h3>    
               </div>
               <div class="match__date">
                  <p class="p3">1. kolo</p>
                  <p class="p3">
                     <strong>so 24. 7. 2021, 18:00</strong>
                  </p>
               </div>
               <div class="match__logos">
                <div class="match__logo">
                     <img src="images/content/logo.png" loading="lazy" alt="" />
                  </div>
                  <div class="match__logo">
                     <img src="images/content/team-2.png" loading="lazy" alt="" />
                  </div>
               </div>
               <div class="match__team">
                  <h2 class="h2">
                     FC Sellier&Bellot Vlašim
                  </h2>
                  <p class="p3">
                     Městský stadion, Opava
                  </p>
               </div>
               <div class="match__info">
                 
                  <div class="match__links">
                     <a href="#" target="_blank" class="btn f-btn">
                        Vstupenky
                     </a>
                   
                  </div>
               </div>

            </div>
         </div>
      </div>   
   </div>
   
</section>