<div class="slider-news">
   <div class="container">
      <div class="js-slider slider-news__inner u-shadow-2">
         <div class="slider-news__item ">
            <div class="date date--blue mb-4 date--small">16. 12. 2021</div>
               <h3 class="h3 mb-2">Kopečný má 28 let</h3>
               <p class="p1">
                  Dnes slaví své 28. narozeniny naše čerstvá posila Miloš Kopečný. Přejeme všechno nejlepší, zejména pevné zdraví, hodně štěstí a úspěchů na hřišti i mimo něj!
               </p>
         </div>
         <div class="slider-news__item ">
            <div class="date date--blue mb-4 date--small">16. 12. 2021</div>
            <h3 class="h3 mb-2">Oslavenec Tomáš Papuga</h3>
            <p class="p1">
               Lékař opavských fotbalistů Tomáš Papuga dnes slaví své 55. narozeniny! Přejeme všechno nejlepší, hodně štěstí, co nejméně výběhů na trávník nutných k ošetření hráčů, a hlavně pevné zdraví!
            </p>
         </div>
         <div class="slider-news__item ">
            <div class="date date--blue mb-4 date--small">16. 12. 2021</div>
            <h3 class="h3 mb-2">Zdeněk Pospěch má 43 let</h3>
            <p class="p1">
               Dnes slaví své 43. narozeniny jeden z našich nejslavnějších odchovanců Zdeněk Pospěch! Někdejší vynikající fotbalista, jenž si zahrál i za českou reprezentaci, nyní dobrovolně pomáhá mládeži našeho klubu i při komunikaci s rodiči. Přejeme všechno nejlepší, pevné zdraví, hodně štěstí a radosti! 
            </p>
         </div>
         <div class="slider-news__item ">
            <div class="date date--blue mb-4 date--small">16. 12. 2021</div>
            <h3 class="h3 mb-2">Fanshop je dnes uzavřen</h3>
            <p class="p1">
                  Fanshop je dnes uzavřen. Před Vánoci si budete moci klubové suvenýry opatřit ve středu 22. prosince a ve čtvrtek 23. prosince v době od 15 do 18 hodin. V novém roce bude fanshop otevřen v týdnu od 10. ledna. 
            </p>
         </div>
           <div class="slider-news__item ">
            <div class="date date--blue mb-4 date--small">16. 12. 2021</div>
               <h3 class="h3 mb-2">Kopečný má 28 let</h3>
               <p class="p1">
                  Dnes slaví své 28. narozeniny naše čerstvá posila Miloš Kopečný. Přejeme všechno nejlepší, zejména pevné zdraví, hodně štěstí a úspěchů na hřišti i mimo něj!
               </p>
         </div>
         <div class="slider-news__item ">
            <div class="date date--blue mb-4 date--small">16. 12. 2021</div>
            <h3 class="h3 mb-2">Oslavenec Tomáš Papuga</h3>
            <p class="p1">
               Lékař opavských fotbalistů Tomáš Papuga dnes slaví své 55. narozeniny! Přejeme všechno nejlepší, hodně štěstí, co nejméně výběhů na trávník nutných k ošetření hráčů, a hlavně pevné zdraví!
            </p>
         </div>
         <div class="slider-news__item ">
            <div class="date date--blue mb-4 date--small">16. 12. 2021</div>
            <h3 class="h3 mb-2">Zdeněk Pospěch má 43 let</h3>
            <p class="p1">
               Dnes slaví své 43. narozeniny jeden z našich nejslavnějších odchovanců Zdeněk Pospěch! Někdejší vynikající fotbalista, jenž si zahrál i za českou reprezentaci, nyní dobrovolně pomáhá mládeži našeho klubu i při komunikaci s rodiči. Přejeme všechno nejlepší, pevné zdraví, hodně štěstí a radosti! 
               mládeži našeho klubu i při komunikaci s rodiči. Přejeme všechno nejlepší, pevné zdraví, hodně štěstí a radosti! 
               mládeži našeho klubu i při komunikaci s rodiči. Přejeme všechno nejlepší, pevné zdraví, hodně štěstí a radosti! 
               111
               mládeži našeho klubu i při komunikaci s rodiči. Přejeme všechno nejlepší, pevné zdraví, hodně štěstí a radosti! 
               mládeži našeho klubu i při komunikaci s rodiči. Přejeme všechno nejlepší, pevné zdraví, hodně štěstí a radosti! 
            </p>
         </div>
         <div class="slider-news__item ">
            <div class="date date--blue mb-4 date--small">16. 12. 2021</div>
            <h3 class="h3 mb-2">Fanshop je dnes uzavřen</h3>
            <p class="p1">
                  Fanshop je dnes uzavřen. Před Vánoci si budete moci klubové suvenýry opatřit ve středu 22. prosince a ve čtvrtek 23. prosince v době od 15 do 18 hodin. V novém roce bude fanshop otevřen v týdnu od 10. ledna. 
            </p>
         </div>
      </div>
   </div>
</div>





            

           