<footer class="footer">
   <div class="container">
      <div class="row d-flex justify-content-between align-items-center h-100 position-relative">
          <a href="#" class="footer__logo">
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
         </a>
         <p class="p2 col-lg-6">
           <strong>
               &copy; 2019 – 2022 Slezský FC Opava & <a href="#">eSports.cz,</a> s.r.o.
           </strong>
         </p>
         <div class="footer__social align-items-center  justify-content-center col-lg-6 d-flex justify-content-md-end">
            <a href="#" class="p2">
            Nastavení cookies
         </a>
         {% include "@components/social/social.twig" %}
         </div>
      </div>
   </div>
</footer>
