<div class="matches-dashboard">
   <div class="container">
      <div class="row ms-n5 me-n5">
         <div class="col-xl-4 col-lg-8 ps-5 pe-5 mx-auto">
            <div class="u-shadow-2 matches-dashboard__box">
               <p class="p2 mb-6">
                  14. kolo F:NL  /  so 6. 11. 2021, 18:30
               </p>
                <div class="d-flex justify-content-center mb-8">
                  <div class="matches-dashboard__team">
                     <div class="matches-dashboard__logo">
                        <img src="images/ico/logo.svg" alt="">
                     </div>
                     <div class="h5">
                        Opava
                     </div>
                  </div>

                  <div class="matches-dashboard__info">
                     <span class="win">2:0</span>
                     vs.
                  </div>

                   <div class="matches-dashboard__team">
                     <div class="matches-dashboard__logo">
                        <img src="images/content/team-2.png" alt="">
                     </div>
                     <div class="h5">
                        Sparta B
                     </div>
                  </div>
               </div>
               <ul class="d-flex justify-content-center me-n1 ms-n1">
                  <li class="pe-1 ps-1 mb-1">
                     <a href="#" class="btn p-btn">Reportáž</a>
                  </li>
                   <li class="pe-1 ps-1 mb-1">
                     <a href="#" class="btn p-btn">Fotogalerie</a>
                  </li>
               </ul>

            </div>
         </div>
         <div class="col-xl-4 col-lg-8  ps-5 pe-5 mx-auto">
            <div class="u-shadow-2 matches-dashboard__box">
               <p class="p2 mb-6">
                  14. kolo F:NL  /  so 6. 11. 2021, 18:30
               </p>
               <div class="d-flex justify-content-center mb-8">
                  <div class="matches-dashboard__team">
                     <div class="matches-dashboard__logo">
                        <img src="images/ico/logo.svg" alt="">
                     </div>
                     <div class="h5">
                        Opava
                     </div>
                  </div>

                  <div class="matches-dashboard__info">
                     <span>16:00</span>
                     vs.
                  </div>

                   <div class="matches-dashboard__team">
                     <div class="matches-dashboard__logo">
                        <img src="images/content/team-2.png" alt="">
                     </div>
                     <div class="h5">
                        Sparta B
                     </div>
                  </div>
               </div>
                <ul class="d-flex justify-content-center me-n1 ms-n1">
                  <li class="pe-1 ps-1 mb-1">
                     <a href="#" class="btn f-btn">Vstupenky</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col-xl-4 col-lg-8 ps-5 pe-5 mx-auto">
            <div class=" u-shadow-2 matches-dashboard__table">
               <div class="d-flex flex-wrap justify-content-between align-items-center">
                  <a href="https://www.fnliga.cz/" class="matches-dashboard__table-partner">
                     <img src="images/content/logo-fnl_2018.png" alt="">
                  </a>
                  <a href="#" class="matches-dashboard__table-link">
                     Celá tabulka
                  </a>
               </div>
               <div class="matches-dashboard__table-wrapper">
                  <table>
                     <tr>
                        <td class="num">4.</td>
                        <td class="logo">
                           <img src="images/content/team-2.png" alt="">
                        </td>
                        <td>FC Sellier&Bellot Vlašim</td>
                        <td class="text-end">15</td>
                        <td class="text-end ps-6">26</td>
                     </tr>
                      <tr>
                        <td class="num">5.</td>
                        <td class="logo">
                           <img src="images/content/team-2.png" alt="">
                        </td>
                        <td>1. SK Prostějov</td>
                        <td class="text-end">13</td>
                        <td class="text-end ps-6">14</td>
                     </tr>
                      <tr class="opava">
                        <td class="num">6.</td>
                        <td class="logo">
                           <img src="images/ico/logo.svg" alt="">
                        </td>
                        <td>Slezský FC Opava</td>
                        <td class="text-end">12</td>
                        <td class="text-end ps-6">21</td>
                     </tr>
                      <tr>
                        <td class="num">7.</td>
                        <td class="logo">
                           <img src="images/content/team-2.png" alt="">
                        </td>
                        <td>FK Varnsdorf</td>
                        <td class="text-end">23</td>
                        <td class="text-end ps-6">23</td>
                     </tr>
                      <tr>
                        <td class="num">8.</td>
                        <td class="logo">
                           <img src="images/content/team-2.png" alt="">
                        </td>
                        <td>FK Dukla Praha</td>
                        <td class="text-end">24</td>
                        <td class="text-end ps-6">24</td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>