<article class="post">
   <a href="#" class="post__link">
      <div class="post__img">
         <img src="images/content/3.jpg" loading="lazy" alt="">
      </div>
      <div class="post__info">
         <h2 class="h3">
            Potřebujeme ustálit kádr, říká Roman West. Jak hodnotí podzim?
         </h2>
         <div class="date date--small date--blue">16. 12. 2021</div>
      </div>
   </a>
</article>