<article class="post">
   <a href="#" class="post__link">
      <div class="post__img">
         <img src="images/content/3.jpg" alt="">
      </div>
      <div class="post__info">
         <h3 class="h3">
            Potřebujeme ustálit kádr, říká Roman West. Jak hodnotí podzim?
         </h3>
         <div class="date date--small date--blue">16. 12. 2021</div>
      </div>
   </a>

</article>