:root {
  --color-dark: #000;
  --color-blue: #004f9f;
  --color-gray: #d7dcdf;
  --color-shadow: #eef0f2;
  --color-yellow: #ffed00;
  --color-light: #ffffff;
  --color-error: #f30202;
  --color-green: #2dad09;
}
