{% extends "@components/base/base.twig" %}

{% set data = default %}
{% set title = "Atomy" %}

{% block main %}

<div class="container py-5">
  <hr />
  <h2 class="h2 mb-2">## Odstavce</h2>
  <p class="p1">P1 - odstavec</p>
  <p class="p2">P2 - odstavec</p>
  <p class="p3">P3 - odstavec</p>
  <p class="p4">P4 - odstavec</p>
  <hr />
  <h2 class="h2 mb-2">## Nadpisy</h2>
  <h1 class="h1">H1 - nadpis</h1>
  <h2 class="h2">H2 - nadpis</h2>
  <h3 class="h3">H3 - nadpis</h3>
  <h4 class="h4">H4 - nadpis</h4>
  <h5 class="h5">H5 - nadpis</h5>
  <h6 class="h6">H6 - nadpis</h6>
  <hr />
  <h2 class="h2 mb-2">## Tlačítka - primary</h2>
  <br>
   <a class="btn f-btn" href="">Button</a><br />
  <br />
  <button class="btn f-btn" disabled>Button</button><br />
  <br />
    <a class="btn btn-secondary-text" href="">Button</a><br />
  <br />
  <button class="btn btn-secondary-text" disabled>Button</button><br />
  <br />
  <hr />
  <h2 class="h2 mb-2">## Tlačítka - secondary</h2>
  <a class="btn p-btn" href="">Button</a><br />
  <br />
  <button class="btn p-btn" disabled>Button</button><br />
  <br />
 
  <h2 class="h2 mb-2">## Stíny</h2>
  <div class="p-3 u-shadow-1" style="background-color: #fff";>
    Stín 1 dp
  </div>
  <br>
   <div class="p-3 u-shadow-2" style="background-color: #fff";>
    Stín 1 dp
  </div>
  
  <hr />
  <h2 class="h2 mb-2">## Dropdown</h2>
  <label class="o-select mb-8">
    <select class="js-select">
      <option>Dropdown</option>
      <option value="tipsport">Dropdown 1</option>
      <option value="tipsport">Dropdown 2</option>
      <option value="tipsport">Dropdown 3</option>
      <option value="tipsport">Dropdown 4</option>
    </select>
  </label>
 
  <label class="o-select -error mb-8">
    <select class="js-select">
      <option value="tipsport">Dropdown</option>
      <option value="tipsport">Dropdown 1</option>
      <option value="tipsport">Dropdown 2</option>
      <option value="tipsport">Dropdown 3</option>
      <option value="tipsport">Dropdown 4</option>
    </select>
  </label>
  <label class="o-select -disabled mb-8">
    <select class="js-select" disabled>
      <option value="tipsport">Dropdown</option>
      <option value="tipsport">Dropdown 1</option>
      <option value="tipsport">Dropdown 2</option>
      <option value="tipsport">Dropdown 3</option>
      <option value="tipsport">Dropdown 4</option>
    </select>
  </label>
  <hr />
</div>

{% endblock %}
