{% extends "@components/base/base.twig" %}

{% set title = "02.0_Realizační tým" %}

{% block main %}
   <section class="team">
      {% include "@components/team-section/team-section.twig" %}
   </section>
   {% include "@components/pub-section/pub-section.twig" %}
   {% include "@components/partneri-section/partneri-section.twig" %}

{% endblock %}
