{% extends "@components/base/base.twig" %}

{% set title = "05.0_Typo" %}

{% block main %}
   <div class="container">
      <div class="row mb-10">
         <div class="col-xl-8 gy-10 o-wrapper">
            <div class="o-content">
               <h1>
                  Základní informace
               </h1>
               <p>
                  „Miloš je v ideálním fotbalovém věku. Jde o pracovitého, velmi odolného a neústupného hráče. Chtěli jsme ho už v létě, ale měl určité zdravotní potíže, které nicméně vyřešil, a tak jsme se k jednáním nyní vrátili. Věřím, že si pro sebe vybojuje pevnou pozici na pravé straně obrany a bude patřit k naším stěžejním hráčům,“ uvádí sportovní manažer SFC Jaroslav Kolínek.
               </p>
               <ul>
                  <li>
                     <a href="#">Základní informace</a>
                  </li>
                  <li>
                     <a href="#">Historie klubu</a>
                  </li>
                  <li>
                     Vedení
                  </li>
                  <li>
                     <a href="#">Kontakty</a>
                  </li>
               </ul>
               <h2>„Miloš je v ideálním</h2>
               <p>
                  „Miloš je v ideálním <a href="#">fotbalovém věk</a> u. Jde o pracovitého, velmi odolného a neústupného hráče. Chtěli jsme ho už v létě, ale měl určité zdravotní potíže, které nicméně vyřešil, a tak jsme
               </p>
                <h3>„Miloš je v ideálním</h3>
               <p>
                  „Náš první kontakt proběhl už v létě. Byl jsem po operaci. V Táborsku mi ještě dojížděla smlouva z Českých Budějovic. O zájmu Opavy jsem tedy věděl a zároveň jsem se chtěl přiblížit domovu, takže jsem se domluvili na spolupráci,“ říká Miloš Kopečný, jenž bydlí ve Zlíně.
               </p>
               <q>
                  <h3>
                     Opavu mám zafixovanou jako klub s krásným stadionem a super fanoušky. Byla tu vždy dobrá atmosféra!
                  </h3>
               </q>
               <p>
                  „Opavu mám zafixovanou jako klub s krásným stadionem a super fanoušky. Rád jsem tady hrával jako soupeř, protože tady byla vždycky dobrá atmosféra. Navíc jsem se bavil s Pepou Hnaníčkem a Lukášem Holíkem. Oba si působení v Opavě pochvalují, takže se moc těším,“ dodává Kopečný.
               </p>
               <h4>„Miloš je v ideálním</h4>
               <ol>
						<li>Lorem ipsum</li>
						<li>Dolor si amet</li>
						<li>
							consec tetur adipiscing elit
							<ol>
								<li>Lorem ipsum</li>
								<li>Dolor si amet</li>
								<li>Lorem ipsum</li>
								<li>Dolor si amet</li>
							</ol>
						</li>
						<li>Nam condimentum tempus diam</li>
					</ol>               
               <p>
                  Sedmadvacetiletý fotbalista má na svém kontě 50 prvoligových startů v dresu Zlína a Českých Budějovic. Druhou nejvyšší soutěž si zahrál za Sokolov, Hradec Králové a naposledy za Táborsko, kde na podzim naskočil do deseti utkání a vstřelil jeden gól. Sezonu si střihl také v nejvyšší slovenské soutěži, kde nastupoval za Senici. Nově bude působit ve Slezském FC.
               </p>
               <div class="table-responsive">
                  <table class="table">
                     <thead>
                           <tr>
                           <th>První sloupec</th>
                           <th>Druhý sloupec</th>
                           <th>Třetí a poslední sloupec</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>Obsah prvního sloupce</td>
                           <td>Další obsah sloupce</td>
                           <td>Obsah třetího a posledního sloupce, který je tentokrát o něco delší.</td>
                        </tr>
                        <tr>
                           <td>Obsah prvního sloupce</td>
                           <td>Další obsah sloupce</td>
                           <td>Obsah třetího a posledního sloupce, který je tentokrát o něco delší.</td>
                        </tr>
                        <tr>
                           <td>Obsah prvního sloupce</td>
                           <td>Další obsah sloupce</td>
                           <td>Obsah třetího a posledního sloupce, který je tentokrát o něco delší.</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <p>
                  „Opavu mám zafixovanou jako klub s krásným stadionem a super fanoušky. Rád jsem tady hrával jako soupeř, protože tady byla vždycky dobrá atmosféra. Navíc jsem se bavil s Pepou Hnaníčkem a Lukášem Holíkem. Oba si působení v Opavě pochvalují, takže se moc těším,“ dodává Kopečný.
               </p>
               <p>
                  Sedmadvacetiletý fotbalista má na svém kontě 50 prvoligových startů v dresu Zlína a Českých Budějovic. Druhou nejvyšší soutěž si zahrál za Sokolov, Hradec Králové a naposledy za Táborsko, kde na podzim naskočil do deseti utkání a vstřelil jeden gól. Sezonu si střihl také v nejvyšší slovenské soutěži, kde nastupoval za Senici. Nově bude působit ve Slezském FC.
               </p>
               <p>
                  Vítej Miloši!
               </p>
            </div>
         </div>
         {% include "@components/aside/aside2.twig" %}
      </div>
   </div>
   {% include "@components/pub-section/pub-section.twig" %}
   {% include "@components/partneri-section/partneri-section.twig" %}
{% endblock %}