{% extends "@components/base/base.twig" %}

   {% set title = "04.0_Partneři" %}

   {% block main %}
      <section class="partners-section pt-5 pt-md-10"> 
         <div class="container"> 
            <h1 class="h1">
               Hlavní partneři
            </h1>
            <ul class="row g-5 g-md-10">
               <li class="col-lg-4 col-sm-6 cl-12">
                  <a target="_blank" href="#">
                     <img src="images/content/1.png" loading="lazy" alt="" />
                  </a>
               </li>
                <li class="col-lg-4 col-sm-6 cl-12">
                  <a target="_blank" href="#">
                     <img src="images/content/2.png" loading="lazy" alt="" />
                  </a>
               </li>
                <li class="col-lg-4 col-sm-6 cl-12">
                  <a target="_blank" href="#">
                     <img src="images/content/3.png" loading="lazy" alt="" />
                  </a>
               </li>
            </ul>
            <h2 class="h2">
               partneři
            </h2>
             <ul class="row g-5 g-md-10">
               <li class="col-lg-3  col-sm-4 cl-12">
                  <a target="_blank" href="#">
                     <img src="images/content/1.png" loading="lazy" alt="" />
                  </a>
               </li>
                <li class="col-lg-3  col-sm-4 cl-12">
                  <a target="_blank" href="#">
                     <img src="images/content/1.png" loading="lazy" alt="" />
                  </a>
               </li>
                <li class="col-lg-3  col-sm-4 cl-12">
                  <a target="_blank" href="#">
                     <img src="images/content/1.png" loading="lazy" alt="" />
                  </a>
               </li>
                <li class="col-lg-3  col-sm-4 cl-12">
                  <a target="_blank" href="#">
                     <img src="images/content/1.png" loading="lazy" alt="" />
                  </a>
               </li>
                <li class="col-lg-3  col-sm-4 cl-12">
                  <a target="_blank" href="#">
                     <img src="images/content/1.png" loading="lazy" alt="" />
                  </a>
               </li>
                <li class="col-lg-3 col-sm-4 cl-12">
                  <a target="_blank" href="#">
                     <img src="images/content/1.png" loading="lazy" alt="" />
                  </a>
               </li>
                <li class="col-lg-3  col-sm-4 cl-12">
                  <a target="_blank" href="#">
                     <img src="images/content/2.png" loading="lazy" alt="" />
                  </a>
               </li>
                <li class="col-lg-3  col-sm-4 cl-12">
                  <a target="_blank" href="#">
                     <img src="images/content/3.png" loading="lazy" alt="" />
                  </a>
               </li>
            </ul>
            <h2 class="h2">Mediální partneři</h2>
            <ul class="row g-5 g-md-10">
               <li class="col-lg-3  col-sm-4 cl-12">
                  <a target="_blank" href="#">
                     <img src="images/content/3.png" loading="lazy" alt="" />
                  </a>
               </li>
                <li class="col-lg-3  col-sm-4 cl-12">
                  <a target="_blank" href="#">
                     <img src="images/content/3.png" loading="lazy" alt="" />
                  </a>
               </li>
                <li class="col-lg-3  col-sm-4 cl-12">
                  <a target="_blank" href="#">
                     <img src="images/content/3.png" loading="lazy" alt="" />
                  </a>
               </li>
            </ul>
         </div>
      </section>
   {% endblock %}