<section class="c-team-section">
   <div class="menu-section">
      <div class="container">
         <div class="menu-section__inner">
            <h1 class="h1">
             Soupiska A-tým
            </h1>
            <ul class="menu-section__links d-flex">
               <li>
                  <a href="#" class=" btn">
                     Brankáři
                  </a>
               </li>
               <li>
                   <a href="#" class=" btn">
                     Obránci
                  </a>
               </li>
               <li>
                  <a href="#" class=" btn">
                     Záložníci
                   </a>
               </li>
               <li>
                  <a href="#" class=" btn">
                     Útočníci 
                  </a>
               </li>
               <li class="ms-8">
                   <div class="f-btn btn">
                     Realizační tým
                  </div>
               </li>
            </ul>
            <form action="" class="ms-auto w-auto menu-section__form">
               <label class="o-select menu-section__label">
                  <select class="js-select">
                     <option>2021/22</option>
                     <option value="tipsport">2020/21</option>
                     <option value="tipsport">2019/20</option>
                     <option value="tipsport">2018/19</option>
                     <option value="tipsport">2017/18</option>
                  </select>
               </label>
            </form>
         </div>
      </div>   
   </div>
   <div class="c-team-section__items">
        <div class="container">
         <div class="o-content">
            <h2 class="h2">
               Brankáři
            </h2>
         </div>
           <ul class="row">
            <li class=" col-lg-4 col-xxl-3 col-sm-6  pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/hrac-3.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h2 class="h2">
                        <span>Kryštof</span>
                        Lasák
                     </h2>
                     <div class="c-team-section__number">
                        29          
                     </div>
                  </div>
                  <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/hrac-1.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                     <div class="c-team-section__number">
                        19
                     </div>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            </ul>
         <div class="o-content">
            <h2 class="h2">
               Obránci
            </h2>
         </div>
       
         <ul class="row">
             <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/hrac-2.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                      <div class="c-team-section__number">
                        29
                     </div>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/hrac-2.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                      <div class="c-team-section__number">
                        29
                     </div>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/hrac-2.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                     <div class="c-team-section__number">
                        29
                     </div>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/hrac-2.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                      <div class="c-team-section__number">
                        29
                     </div>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/hrac-2.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                      <div class="c-team-section__number">
                        29
                     </div>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
         </ul>
           <div class="o-content">
            <h2 class="h2">
               Záložníci
            </h2>
         </div>
         <ul class="row ">
             <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/hrac-2.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                     <div class="c-team-section__number">
                        29
                     </div>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/hrac-2.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                      <div class="c-team-section__number">
                        29
                     </div>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/hrac-2.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                     <div class="c-team-section__number">
                        29
                     </div>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/hrac-2.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                      <div class="c-team-section__number">
                        29
                     </div>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/hrac-2.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                      <div class="c-team-section__number">
                        29
                     </div>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
         </ul>
           <div class="o-content">
            <h2 class="h2">
               Útočníci
            </h2>
         </div>
        <ul class="row ">
             <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/hrac-2.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                     <div class="c-team-section__number">
                        29
                     </div>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/hrac-2.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                      <div class="c-team-section__number">
                        29
                     </div>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/hrac-2.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                     <div class="c-team-section__number">
                        29
                     </div>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/hrac-2.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                      <div class="c-team-section__number">
                        29
                     </div>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
            <li class=" col-lg-4 col-xxl-3 col-sm-6 pe-5 ps-5">
               <a  class="c-team-section__item" href="#">
                  <div class="c-team-section__img">
                     <img src="images/content/hrac-2.png" loading="lazy" alt="" />
                  </div>
                  <div class="c-team-section__info d-flex justify-content-between align-items-end   ">
                     <h3 class="h2">
                        <span>David</span>
                        Mikula
                     </h3>
                      <div class="c-team-section__number">
                        29
                     </div>
                  </div>
                   <div class="c-team-section__hover">
                     <ul class=" d-flex justify-content-center align-items-center">
                        <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/football.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/clock.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                         <li class="d-flex ">
                           <div class="c-team-section__hover-img">
                                <img src="images/ico/shield.svg" loading="lazy" alt="" />
                           </div>
                           16
                        </li>
                     </ul>
                  </div>
               </a>
            </li>
         </ul>
      </div>
   </div>
</section>