.o-select {
  position: relative;
  display: block;
  max-width: fit-content;
  &:first-child {
    @include media-breakpoint-down(xl) {
    }
  }
  @include media-breakpoint-down(sm) {
    max-width: 100%;
    margin-bottom: 16px;
    padding-right: 0;
    width: 100%;
    margin-left: 0 !important;
  }
}
.-error {
  .o-select__label {
    color: var(--color-error);
  }
}
.-disabled {
  cursor: not-allowed;
  * {
    cursor: not-allowed;
  }
}
